<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
</head>
<body>

    <h1>Ini Rifky Adjie Khair Malau</h1>
    <p>This is a Car</p>
    <img src="{% static 'images/bg-ta.jpg' %}" alt="Logo" width="300">

    <h2>This is your record:</h2>
    <div class="djangotwo">
        {% if access_records %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Date</th>
                </thead>
                {% for acc in access_records %}
                    <tr>
                        <td>{{ acc.name }}</td>
                        <td>{{ acc.date }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>NO ACCESS RECORDS FOUND</p>
        {% endif %}
    </div>
    

</body>
</html>